DBENGINE={{ kamailio_db_engine }}
DBHOST={{ kamailio_db_host }}
DBPORT={{ kamailio_db_port }}
DBNAME={{ kamailio_db_name }}
DBRWUSER="{{ kamailio_db_user }}"
DBRWPW="{{ kamailio_db_pass }}"
DBROOTUSER="{{ kamailio_db_root_user }}"
CHARSET="latin1"